/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement ("License") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the "Powered by SugarCRM" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/

.chartTitle {
	font-family: Arial;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #444444;
	padding: 5px;
}

.units {
	font-family: Arial;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #555555;
}

.groupName {
	font-family: Arial;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.noData {
    font-family: Arial;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.data {
	font-family: Arial;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	line-height: 30px;
}

.drillTip {
	font-family: Arial;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.toolTips {
	font-family: Arial;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.flyOutTitle{
	font-family: Arial;
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	color: #eeeeee;
}

.flyOutText{
	font-family: Arial;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
}

.flyOutSelected{
	font-family: Arial;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #444444;
}

.flyOutDisabled{
	font-family: Arial;
	text-align: left;
	font-size: 12px;
	font-style: italic;
	color: #666666;
}

.wedgeLabels {
	font-family: Arial;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barValueLabels {
	font-family: Arial;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barValueLabelsOver {
	font-family: Arial;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #0000FF;
}

.horizontalBarValueLabels {
	font-family: Arial;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.horizontalBarValueLabelsOver {
	font-family: Arial;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #0000FF;
}

.horizontalBarGroupLabels {
	font-family: Arial;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.barGroupLabels {
	font-family: Arial;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.yAxisLabels {
	font-family: Arial;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelLeftLabels {
	font-family: Arial;
	text-align: right;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelRightLabels {
	font-family: Arial;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}

.funnelLeftLabelsOver {
	font-family: Arial;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}

.funnelRightLabelsOver {
	font-family: Arial;
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.gaugeLabels {
    font-family: Arial;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #333333;
}

.gaugeNumber {
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.legendEntry {
	font-family: Arial;
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
.legendEntryOver {
	font-family: Arial;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.squeezedWedgeLabels {
    font-family: Arial;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #aaaaaa;
}