/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement ("License") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the "Powered by SugarCRM" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/

 
#main #content {
padding: 0;
}
.view h4 {
font-size: 16px;
color: #C60C30;
}
.view h2 {
text-align: left;
color: #C60C30;
}
#welcome 
{
    background-image: none;
    vertical-align: middle;
	margin-top: 0px;
	height: auto;
	padding: 0;
	float: none;
	border: 0px none;
}

.dashletPanelMenu .bd .screen {
	background-color: transparent;
    display: none;
    width: 820px;
	margin: 0px;
	padding: 0px; 
}

.edit td[scope="row"] 
{
color: #666;
}

.edit tr td[scope="row"],.edit tr th {
background-color: #fff;
}


div.nav-buttons
{
    margin-top: 1em;
    text-align: right;
}

div.screen div.edit.view
{
    height: 440px;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px !important;
}

div.screen div.edit.view > table
{
    padding: 0 !important;
}

div.screen div.edit.view td
{
    text-align: left;
}

div.screen div.edit.view td i
{
    display: block;
    padding-bottom: 15px;
}

div.screen div.edit.view th h2
{
    padding-bottom: 10px;
}

.dashletPanelMenu .bd .bd-center {
padding-top: 0px;
}

.edit, .detail, .detail > table {
border-color: #aaa;
}
button,button[selected],button:focus {
	border: 1px solid #999;
	background-color: #fff;
	color: #999;
	font-weight: bold;
	font-size: 16px;
	}
	
button:hover {
	background-image: none;
	background-color: #fff;
}

#smtpButtonGroup img {
}

 #smtpButtonGroup button
{
    height: 40px;
}
.yui-button .first-child{
border: none;
}

.yui-button button, .yui-button a {
	border: 1px solid #ccc;
	color: #999;
	font-weight: bold;
	font-size: 16px;
}
.yui-button button:hover, .yui-button a:hover {
	border: 1px solid #999;
	color: #999;
	font-weight: bold;
	font-size: 16px;
}

.yui-button {
border-width: 0px;
}

.yui-radio-button-checked button, .yui-checkbox-button-checked button {
	background-color: #fff;
	color: #999;
}

div.screen .view td a 
{
    font-size: 14px;
}
.userWizWelcome {margin: 10px -30px 0pt 0pt; width: 770px;}

#userWizFrame {width: 770px; height: 325px; border: none;}