/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Master Subscription
 * Agreement ("License") which can be viewed at
 * http://www.sugarcrm.com/crm/master-subscription-agreement
 * By installing or using this file, You have unconditionally agreed to the
 * terms and conditions of the License, and You may not use this file except in
 * compliance with the License.  Under the terms of the license, You shall not,
 * among other things: 1) sublicense, resell, rent, lease, redistribute, assign
 * or otherwise transfer Your rights to the Software, and 2) use the Software
 * for timesharing or service bureau purposes such as hosting the Software for
 * commercial gain and/or for the benefit of a third party.  Use of the Software
 * may be subject to applicable fees and any use of the Software without first
 * paying applicable fees is strictly prohibited.  You do not have the right to
 * remove SugarCRM copyrights from the source code or user interface.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *  (i) the "Powered by SugarCRM" logo and
 *  (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * Your Warranty, Limitations of liability and Indemnity are expressly stated
 * in the License.  Please refer to the License for the specific language
 * governing these rights and limitations under the License.  Portions created
 * by SugarCRM are Copyright (C) 2004-2012 SugarCRM, Inc.; All Rights Reserved.
 ********************************************************************************/

#layoutEditor h4, #layoutEditor h3, #layoutEditor h2, #layoutEditor h1, .panel_name  {
	font-size:11px;
	padding-left: 0px;
	margin: 3px;
}

.panel_name {
	font-weight: bold;
	color: #000000;
	float:left; 
	margin:5px;
}
#toolbox { float:left; width: 175px; padding:5px; margin:0;    border: 1px dotted black;}
#panels { 
	float:right; 
	padding:5px 10px 5px 5px;
	margin-left:20px;
	border: 1px dotted black;
}
.le_panel { 
    background: #eee;
}
.le_row { 
    background: #ddd; 
}

#layoutEditor .le_panel { 
	margin: 2px 2px 10px 2px;
	padding: 5px 15px 15px 15px;
}
#layoutEditor .le_row { 
	margin: 2px 3px; 
	height: 24px; clear: both; 
	padding: 5px 15px;
}

body > .le_panel .le_edit, #toolbox .le_panel .le_edit {  
	display:none; 
}
#toolbox .le_panel, #toolbox .le_row, .le_field { width:150px; float: left; border: 1px solid grey; background: #eee; padding: 2px; margin: 2px 3px; overflow:hidden; }

#delete { width: 52px; padding-top:5px; padding-bottom:10px;}

#panels .le_row .le_field, #availablefields .le_field,  #layoutPreview .le_row .le_field {display:block;}
.le_row .le_field {display:none;}


.field_tabindex,.field_label,.field_name, .panel_id {display:none;}
#availablefields .le_field {clear:both;}
#availablefields {margin-top:20px;}

#layoutEditorButtons div {float:left;}
.le_edit{
	cursor:pointer;
	float:right;
}
